@* Basic *@

@section Styles{

    <style></style>
}

<div id="app">
    <!-- View -->
    <h3>{{message}}</h3>
    <button v-on:click="submit">OK</button>
    <button @@click="submit">OK簡寫</button>
</div>

@section Scripts{

    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var vueApp={
            data(){
                return{     // model
                    message:"Hello Vue" // 屬性
                };
            },
            methods:{       // controller
                submit: function () {
                alert("submit");
                },
            }
        };
        var app=Vue.createApp(vueApp).mount("#app")
    </script>
}

