<div class="container" style="width:40%">
    <h3 class="mb-3 text-center">請輸入要查詢的員工姓名</h3>
    <div class="form-floating mb-3">
        <input id="name" class="form-control" placeholder="" />
        <label for="name" class="form-label">姓名</label>
    </div>
    <div id="result" class="mb-3 text-danger"></div>
</div>

@section Scripts 
{
    <script>
        var baseAddress="https://localhost:7015";   // Developing
        // var baseAddress="https:xxx";             // Staging
        // var baseAddress="https:yyy";             // Production

        $("#name").on("keyup",async ()=>{
            // alert("keyup alert");
            try{
                var form=new FormData();
                form.append("Name",$("#name").val());
                // 用選擇器抓輸入的值

                var response=await fetch(`${baseAddress}/Ajax/FetchCheckName`,{
                    method:"POST",
                    body:form
                });

                if(response.ok){
                    var data=await response.text();
                    if(data=="true"){
                        $("#result").text("查有此員工");
                    }
                    else{
                        $("#result").text("查無此員工");
                    }
                }
            }
            catch(err){
                alert(err.message);
                // 用 fetch 就會是 fetch 的錯誤訊息，用 JQuery 的就是 JQuery 的錯誤訊息
            }
        });
    </script>
}

